{% extends 'layout.html' %}
{% block title %}
About
{% endblock %}

{% block con %}
<main class="container mx-auto px-6 py-10">
        <h1 class="text-4xl font-bold text-yellow-500 text-center">Про автора</h1>
        <p class="mt-4 text-lg text-gray-600 text-center">Автор,я Кадирбергенов Атабек, являюсь учеником девятого класса Нукусского филиала IT школы имени Al-Xorazmiy.<br>Занимаюсь Back-end разработкой веб-сайтов,телеграмм ботов и разных интернет решений на основе информационных технологий.<br>Также имею хорошие знания в созданий нейронных сетей и в пониманий его устройства.<br>Являюсь большим любителем создания разных самоделок на платформе Arduino</p>
<br>
  <br>
  <br>
  <br>
  <br>
</main>
{% endblock %}